<h1>タスク編集ページ</h1>

<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <%= f.submit 'update', class: 'btn btn-sm btn-primary' %>
<% end %>

         
       